# Application Settings
VITE_APP_ENV=development
VITE_APP_TITLE="SnapLink"

# API Domain 1 for Shorten
VITE_API_CLIENT_URL=https://example.com
VITE_API_CLIENT_TIMEOUT=5000

# API Domain 2 for Admin)
VITE_API_ADMIN_URL=https://example.net