# Port the service listens on
ADDR=:8082

# Set GIN_MODE as debug or release
GIN_MODE=debug

DB_HOST=postgres16
DB_PORT=5432
DB_USER=postgres16
DB_PASSWORD=postgres16
DB_NAME=urlshortener
DB_SSLMODE=disable
TZ=UTC